
//color
$black: #000000;
$white: #ffffff;
$secondaryColor: #f2fbfb;
$darkenColor: #403d40;
$pColor: #aeadae;
$aColor: #79e5e9;
//measure
$section-min-height: 100vh;
$paddings: 180px;
//timing
$minimal-transition: 0.25s;
//responsive
$movil: 768px;
$tablet: 1024px;