#header {
    background: #FEFD32;
    color: rgb(235, 160, 201);
    padding: 193px 0 0px;
    position: relative;
    text-align: center;

    .header_images{
        margin-top: 6%;
    }
  
}

.header-inner {
    padding: 0.25em 2rem;
}

#menu {
    position: sticky;
    top: 0;
    background: $yellow;
    padding: 55px 10% 25px;
    z-index: 1;
    
    .options {
        position: relative;
        top: -41px;
        list-style: none;
        margin-left: 4%;
        li {
            float: left;
            transition: 0.25s;
            margin: 20px;
            
        }
        a {
            color: black;
            text-decoration: none;
            font-family:'Muli', sans-serif;
            text-transform: uppercase;
            letter-spacing: 2ch;
            font-size: 15px;
        }
    }
  }
