.contact_title, .contact_title2{
  font-family: 'Lalezar', cursive;
  font-size: 5.3rem;
  float: left;
  padding: 25px;
  letter-spacing: 5px;
  line-height: 72%;
  text-transform: uppercase;
  padding: 6%;
  padding-top: 24px;
}
.contact_section_title{
  background-image: url(../img/texture1.png);
  background-color: $white;
  padding: 140px 0 200px;
  position: relative; 
}

.contact_title2{
  padding-top: 6%;
}

.contact_content{
  background-color: black;
  padding: 140px 0 200px;
  position: relative;
}

.email_image{
  margin-left: 46%;
}