#content {
 
  text-align: center;
 
  p{
      padding: 10%;
  } 
}

.skills_title2{
  margin-left: -19%;
}

.projects_title2{
  margin-left: -21%;
}

.contact_title2{
  margin-left: -21%;
}


#header {
  background: black;
  color: $white;
  padding: 1px 0 0px;
  position: relative;
  text-align: center;

  .header_images{
      margin-top: 6%;
  }
}



























