.section{
    background: #f7c481;
    position: relative;
   
    .phone{
        width: 80px;
        margin: auto;
        display: inherit;
        padding-top: 10%;
    }

    p{  
        margin: auto;
        padding-top: 27px;
        text-align: center;
        font-size: 28px;  
    }

    .section{
        
        margin-bottom: 50px;
    }
    
    a{
        text-decoration: none;
        color: black;
    }

    h4{
        text-align: center;
        font-size: 36px;
        color: white;
    }
}