#head{
    
    h1{
        font-weight: 600;
        font-size: 140px;
        text-align: center;
        padding-top: 16%;
    }
    h3{
        font-size: 60px;
        text-align: center;
        padding-bottom: 22%;
    }
   
}
.menu_close{
    width: 5%;
    display: none;

}

.ham_menu{
    width: 5%;
    float: right;
}

.cactus_images{
    margin: auto;
    padding-top: 0;
    margin-top: -6%;
}

ul{
    display: none;
}